
.container{
    background-color: rgb(201, 220, 236);
    height: 566px;
    width: 850px;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    .closeImg{
        position: absolute;   
        font-size: 40px;
        cursor: pointer;
        z-index: 3;
      }
    .img-fluid{
        width: 300px;
        height: inherit;
    }
    .py-5{
        padding-top: 10px!important;
        margin-top: 0!important;
    }
    .col-lg-6{
        max-width: none!important;
        width: 100%;
    }
    .inputContainer{
        height: 50px;
        .message{
            position: absolute;
            bottom: -37px;
        }
        .inputCreate{
            height: 100%;
        }
    }
    .btn{
        margin-top: 0;
    }
    .buttonCreate {
        height: 50px;
    }
    #divHaveAcount{
        display:flex;
        margin: 0 auto;
        margin-top:10px;
        #returnToSignIn{
            cursor: pointer;
            &:hover{
                color:blue;
            }
        }
    }
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
}


@media screen and (max-width: 1200px) ,  screen and (max-height: 850px) {
    .container{
        width: 750px!important;
        height: 450px!important;
        .inputContainer{
            height: 32px!important;
        }
    }
}
