
%button {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    width: 152px;
    height: 38px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter,sans-serif;
    font-size: 19px;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  %button:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
  }
  
  %content {
      width: 82%;
      margin: 0 auto;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);
    }
    
    %item {
      border-radius: 19px;
      display: grid;
      height: 589px;
      width: 100%;
    }
  
    %img {
      margin: 0 auto;
      width: 100%;
      height: 380px;
    }
  
    %signInButtons{
      text-align: center;
      width: 190px;
      height: 48px;
      cursor: pointer;
    }
  
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60px;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 70%;
  height: 55px;
  margin-right: 30px;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}

  html{
    width: 100%;
    height: 100%;
    body{
      background-color: ghostwhite;
      position: relative;
        .imgHeader{
          width: 100%;
          height: fit-content;
        }
      .popupContainer {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(51, 51, 51, 0.733);
        z-index: 2;
        top: 0;
        .popup {
          display: block;
          width: 570px;
          background-color: white;
          border-radius: 5px;
          position: fixed;
          top: 30%;
          left: 0; 
          right: 0; 
          margin-left: auto; 
          margin-right: auto; 
          display: grid;
          grid-template-rows: 48px 190px 95px;
          align-items: center;
          .headerPopup{
            background-color: #f5f5f5;
            border-bottom: 1px solid slategray;
            box-shadow: 0 1px #e4e4e4;
            .signInTitle{
              display: inline;
            }
            .close{
              text-align: right;
              margin-right: 10px;
              float: right;
              width: 38px;
            }
          }
          .inputs{
            align-self: center;
            display: grid;
            gap: 38px;
            justify-content: center;
            .inputSignIn{
              background-color: #f5f5f5;
              border: 1px solid rgb(41, 41, 41);
              width: 380px;
              height: 48px;
            }
          }
          .signInButtons{
            display: flex;
            justify-content: space-around;
            .createAccountButton{
              @extend %signInButtons;
              border: 1px solid rgb(41, 41, 41) ;
              background-color: white;
            }
            .sighInButton{
              @extend %signInButtons;
              background-color: rgb(41, 41, 41) ;
              color: #fff;
            }
          }
        }

        .app{
          position: fixed;
          top: 10%;
          left: 0; 
          right: 0; 
          margin-left: auto; 
          margin-right: auto; 
          width: 500px;
          height: 800px;
          border: 1px solid rgb(46, 45, 45);
          background-color: ghostwhite;
          label{
            display: block;
            margin-bottom: 7px;
            margin-top: 7px;
          }
          input{
            display: block;
            height: 30px;
            width: 100%;
          }
          .allInfo{
              margin: 30px;
              h2{
                  padding-bottom: 5px;
                  border-bottom: 1px solid grey;
              }
              .basicInfo{
                  display: grid;
                  grid-template-rows: repeat(3,1fr);
                  gap:10px;
              }
              .name{
                  display: grid;
                  grid-template-columns: repeat(2, 1fr);
                  .first{
                      margin-right: 50px;
                  }
                  input{
                      width:195px;
                  }
              }
              .buttons{
                  text-align: right;
                  margin-top: 30px;
                  .buttonCancel{
                      width: 80px;
                      height: 35px;
                      border: 1px solid rgb(54, 180, 238);
                      background-color: white;
                      border-radius: 5px;
                      color:rgb(46, 45, 45);
                  }
                  .buttonSave{
                      width: 80px;
                      height: 35px;
                      color: white;
                      background-color: rgb(54, 180, 238);
                      border: 1px solid rgb(54, 180, 238);
                      border-radius: 5px;
                      margin-left: 15px;
                  }
              }
          }
        }        
      }
      #container {
          @extend %content;
          margin-top: 30px;
          .item {
            @extend %item;
            grid-template-rows: 1fr 1fr;
            .backgroundImg{
              position: relative;
              .img {
                @extend %img;
              }
              #favorite{
                position: absolute;
                right: 5%;
                top:5%;
              }
              .price{
                color:rgb(238, 85, 85);
                font-size: 19px;
            }
            }
            .bottom{
              margin-top: 10px;
              .info {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                .title{
                  font-size: 17.5px;
                  color:rgb(46, 46, 46);
                  padding:5px 0px 5px 0px;
                }
                .model{
                  font-size:17px;
                  color:slategray;
                }
                .buttonAdd{
                  @extend %button
                }
              }
            }
          }
        }
        .background{
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          background: rgba(182, 179, 179, 0.281);
          z-index: 2;
          top: 0;
          left: 0;
          .oneCloth{
            width: 900px;
            height: 450px;
            background-color: white;
            border-radius: 5px;
            position: fixed;
            top: 20%;
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-items: center;
            #close{
              cursor: pointer;
              position: absolute;
              top:1%;
              right: 0.5%;
            }
            .imageSide{
              width: 100%;
              text-align: center;
              .OneImage{
                width: 90%;
                height: inherit;
              }
            }
            .infoSide{
              width: 100%;
              display: grid;
              height: 90%;
              .firstDiv{
                border-bottom:1px solid #7a7f83;
                height: 80%;
                .clothTitle{
                  font-size: 17.5px;
                  color:rgb(46, 46, 46);
                  padding:5px 0px 5px 0px;
                }
                .model{
                  font-size:17px;
                  color:slategray;
                }
                .price{
                  font-size:35px;
                  font-weight: 700;
                }
              }
              .sizes{
                display: grid;
                grid-template-columns: repeat(5 , 1fr);
                gap:10px;
              }
              .add{
                display: flex;
                .circle{
                  border: 1px solid #e5e5e5;
                  border-radius: 50%;
                  width:55px;
                  height: 55px;
                  position: relative;
                  #favoriteIcon{
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    font-size: 25px;
                    &:hover{
                      font-size: 35px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    // .createButton{
    //   display: grid;
    //   justify-content: center;
    //   align-content: center;
    //   grid-template-columns: repeat(2 ,1fr);
    //   .createAccountButton{
    //     @extend %signInButtons;
    //     background-color: rgb(41, 41, 41) ;          
    //     color: #fff;
    //     width: 250px;
    //   }
    // }